# Repositório Curso - Java Porgramming
/Outros arquivos
/PDF

# Repositório FirstSteps
/FirstSteps/.vscode
/FirstSteps/bin
/FirstSteps/lib

# Repositório ifThenStatement 
/ifThenStatement/.vscode
/ifThenStatement/bin
/ifThenStatement/lib

# Repositório Primitive Types
/PrimitiveTypes/.vscode
/PrimitiveTypes/bin
/PrimitiveTypes/lib

# Repositório Operators
/Operators/.vscode
/Operators/bin
/Operators/lib

# Repositório Keywords And Expressions
/KeywordsAndExpressions/.vscode
/KeywordsAndExpressions/bin
/KeywordsAndExpressions/lib